.logo{
	width:40%;
}
.semilla{
	background-image: url("../img/semilla.jpg");
	padding: 13%;
}
.parrafo1{
	margin: 5% 20%;
}
.metodo{
	background-image: url("../img/metodo.jpg");
	padding: 160px;
}
.fondo{
	background-image: url("../img/fondo.jpg");
	padding: 69px;
}
/*Sin padding para que el backgroud ocupe toda la pantalla*/
.sinpdg{
	padding: 0% !important; 
}
.text-serv , .subtitulos{
	font-weight: bolder;
}
.blue{
	background-color: blue;
}
.proyectos{
	padding: 0% !important;
}
.nomDist{
	font-size: 1.5em;
}
.redes-sociales{
	width: 2em;
	height: 2em;
	margin: 6% 1%;
}
.fondo2{
	background-image: url("../img/fondo2.jpg");
}
.borde{
	border: 1px white solid;
}
.icon-siguenos{
	width: 2em;
	height: 2em;
	margin: 40% 0% 5% 70%;
}
.text-footer{
	font-size: 0.9em;
	margin: 0%;
}
@media screen and (max-width: 767px) {
	.logo{
		width: 20%;
	}
	.parrafo1{
		margin: 5% 10%;
	}
	p{
		font-size: 0.8em;
	}
	.subtitulos{
		font-size: 1.5em;
	}
	.iconos{
		width: 55%;
		height: 55%;
	}
	.fondo{
		padding: 10%;
	}
	.icon-servicios{
		width: 35%;
		height: 35%;
	}
	.text-serv{
		font-size: 1em;
	}
	.nomDist{
		font-size: 1em;
	}
	.fotoequipo{
		width: 50%;
		height: 50%;
	}
	.text-siguenos{
		font-size: 0.9em;
	}
	.icon-siguenos{
	width: 1.5em;
	height: 1.5em;
	margin: 40% 0% 5% 70%;
	}
	.text-footer{
	font-size: 0.7em;
	margin: 0%;
}
}
@media screen and (min-width: 768px) and (max-width: 940px){
	.logo{
		width: 20%;
	}
}